<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <title>Math.Js</title>
</head>
<body>
    <!-- Template credits to https://codepen.io/candroo-->
    <!-- I thought a browser design would fit better -->

    <div class="browser">
        <div class="chrome">
            <a href="#" class="red"></a>
            <a href="#" class="amber"></a>
            <a href="#" class="green"></a>
            <div class="url"></div>
        </div>
        <h1>Khan Academy resolutions by <a class="porto" href="https://github.com/WinzLow95">Arthur Porto</a></h1>
        <h2>Resolução de Fórmulas</h2>
        <div class="content">
            <div class="wrapper">
                <div class="container">
                    <ul>
                        <li>
                            <a href="/../formulas/pontocentral.html">Ponto central</a>
                            <a href="/../formulas/pitagoras.html">Pitágoras</a>
                            <a href="/../formulas/fx.html">Função Exponencial</a>
                            <a href="/../formulas/fatoraction.html">Fatorial</a>
                            <a href="/../formulas/exp.html">Cálcular Expoentes x²</a>
                            <a href="/../formulas/qp.html">Quadrado Perfeito</a>
                            <a href="/../formulas/pontob.html">Encontrar Coordenadas do Ponto B</a>
                            <a href="/../formulas/abc.html">Encontrar o valor de ABC (ângulo inscrito)</a>
                            <a href="/../formulas/adc.html">Encontrar o valor de ADC (ângulo central)</a>
                            <a href="/../formulas/LogConverter.html">Converter equação na forma logarítima</a>
                            <a href="/../formulas/expconverter.html">Converter uma equação Logaritima para exponencial</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <i class="fa-solid fa-code"></i><a class="hangoes"> by hangoes</a><a href="https://github.com/hangoes"><i class="fa-brands fa-github"></i></a> 
    </footer>

    <!--
    <div class="content">
        <div class="wrapper">
            <div class="title">Fórmulas</div>
            <div class="container">
                <ul class="scroller">
                    <li>
                        <a href="/../formulas/pontocentral.html">Ponto central</a>
                        <hr>
                        <a href="/../formulas/pontob.html">Encontrar Coordenadas do Ponto B</a>
                        <hr>
                        <a href="/../formulas/exp.html">Cálcular Expoentes x²</a>
                        <hr>
                        <a href="/../formulas/qp.html">Quadrado Perfeito</a>
                        <hr>
                        <a href="/../formulas/abc.html">Encontrar o valor de ABC (ângulo inscrito)</a>
                        <hr>
                        <a href="/../formulas/adc.html">Encontrar o valor de ADC (ângulo central)</a>
                        <hr>
                        <a href="/../formulas/pitagoras.html">Pitágoras</a>
                        <hr>
                        <a href="/../formulas/fx.html">função exponencial</a>
                        <hr>
                        <a href="/../formulas/fatoraction.html">Fatorial</a>
                        <hr>
                        <a href="/../formulas/LogConverter.html">Converter equação na forma logarítima</a>
                        <hr>
                        <a href="/../formulas/expconverter.html">Converter uma equação Logaritima para exponencial</a>
                </ul>
            </div>
        </div>
        <div class="footer">
            <i class="fa-solid fa-code"></i> by Porto24.<a href="./README.md">Sobre</a>
        </div>
    </div>

   -->


    <!--<div class="column">
        <div class="container">
            <div class="title">Fórmulas</div>
            <ul class="scroller">
                <li>
                    <a href="/../formulas/pontocentral.html">Ponto central</a>
                    <hr>
                    <a href="/../formulas/pontob.html">Encontrar Coordenadas do Ponto B</a>
                    <hr>
                    <a href="/../formulas/exp.html">Cálcular Expoentes x²</a>
                    <hr>
                    <a href="/../formulas/qp.html">Quadrado Perfeito</a>
                    <hr>
                    <a href="/../formulas/abc.html">Encontrar o valor de ABC (ângulo inscrito)</a>
                    <hr>
                    <a href="/../formulas/adc.html">Encontrar o valor de ADC (ângulo central)</a>
                    <hr>
                    <a href="/../formulas/pitagoras.html">Pitágoras</a>
                    <hr>
                    <a href="/../formulas/fx.html">função exponencial</a>
                    <hr>
                    <a href="/../formulas/fatoraction.html">Fatorial</a>
                    <hr>
                    <a href="/../formulas/LogConverter.html">Converter equação na forma logarítima</a>
                    <hr>
                    <a href="/../formulas/expconverter.html">Converter uma equação Logaritima para exponencial</a>
            </ul>
        </div>
    </div>
    
<script src="scroll.js"></script>
</html>
