//Variáveis 
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900');
$rhino: #323b40;
$rhinoMid: #4f585e;
$teal: #0096a1;
$tealMid: #0ebac7;
$red: #fc625c;
$amber: #fdbc40;
$green: #34c748;
$offWhite: #e9eaea;



body{
    background: $rhinoMid;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;

}

//Principais configurações do 'template de browser' 
//Créditos à https://codepen.io/candroo 

.browser {
    background: #fff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 4px 8px -4px rgba(0,0,0,0.4), 0 12px 24px -6px rgba(0,0,0,0.4), 0 24px 64px 12px rgba(0,0,0,0.25);
    color: $rhino;
    overflow: hidden;
    margin: 5% auto;
    max-width: 70%;
    min-width: 320px;
    min-height: 590px;
    padding-bottom: 5%;
    position: relative;

    //Formatação do 'navbar'
    .chrome {
        background: $rhinoMid;
        height: 40px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;

        // Formatação das opções do browser, em suas respectivas cores: Vermelho, Amarelo e Verde.  

        a {
            border-radius: 12px;
            display: block;
            float: left;
            height: 12px;
            margin: 13px 1px 1px 12px;
            width: 12px;

            &.red { background: $red; }
            &.amber { background: $amber; }
            &.green { background: $green; }
        }

        //Formatação do ícone 'Barra de pesquisa'
        .url {
            background: #5f676d;
            border-radius: 4px;
            height: 24px;
            position: absolute;
            top: 8px;
            left: 50%;
            transform: translateX(-50%);
            width: 70%;
        }
    }

    h1 {
        font-size: 24px;
        font-weight: 200;
        margin: 0;
        padding: 80px 40px 10px;
    }
    .porto{
        text-decoration: none;
        font-size: 28px;
        color: $rhino;
        font-weight: 300;
    }

    h2 {
        font-size: 48px;
        line-height: 1em;
        max-width: 16em;
        margin: 0;
        padding: 0 40px;
    }

}

//Fim da Formatação .browser
//Início Formatação .content

.content{
    .wrapper{
        padding: 5%;
        padding-left: 1%;
        float: left;
    }
    
        .container{
            float: left;
        }

        li{
            list-style: none;
            text-align: justify;
        }
        
        a{

            margin: 15px;
            float: left;
            width: 190px;
            height: 40px;
            color: $rhino; 
            font-style: none; 
            text-decoration: none;

        }
}

footer{
    text-align: center;
    
    .hangoes{
        text-align: center;
        color: $offWhite;
        font-style: italic;
        
    }
    a{
        text-decoration: none;
        margin: 13px;
        color: $offWhite;
    } 
    i{
        color: $green;
    }
    
}









  

